{% extends "base_generic.html" %}

{% block content %}
    <h1>Your .csv file upload service</h1>
    
    {% if messages %}
        {% for message in messages %}
            <div>
                {{message|safe}}
            </div>
        {% endfor %}

    {% else %}
        
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            
            <button type="submit">Upload</button>
        </form>
    {% endif %}
{% endblock %}

<!-- <label>Upload a file</label> -->
<!-- <p>Only accepts .csv files</p> -->
            <!-- <input type="file" name="myfile"> -->
